*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.container
{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin:22%;

}
input{
    margin:10px;
    padding:20px;
    width:200px;
    height:30px;
    border-radius:30px;
}
button{
    width:150px;
    height:30px;
}

body
{
    background-image:url("https://media.istockphoto.com/id/155380716/photo/commercial-jet-flying-over-clouds.jpg?s=612x612&w=0&k=20&c=idhnJ7ZdrLA1Dv5GO2R28A8WCx1SXCFVLu5_2cfdvXw=");
}