body
{
  background-image: url("ok.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

table
{
  border-style:dotted;
  margin:280px;
  background-color:none;
 
}

th{
   background-color:;
   
}

tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

th:nth-child(even),td:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}

tr:hover {background-color: white;}